@use "sass:math";
@use "sass:color";

/*==========  VARIABLES  ==========*/

$perspective: 1000;
$perspective-origin: 1000px -200px;

$game-size: 400px;
$cubes-per-row: 4;

$cube-size: math.div($game-size, $cubes-per-row);
$cube-color: #eee4da;
$cube-gold-color: #edc22e;
$cube-gold-glow-color: color.adjust($cube-gold-color, $lightness: 15%);
$cube-border-color: color.adjust($cube-color, $lightness: -50%);
$cube-border: 1px solid $cube-border-color;

$text-color: #776E65;
$bright-text-color: #f9f6f2;

$side-background-color: rgba(0,0,0,0.04);
$side-border: 1px solid color.adjust($cube-border-color, $lightness: 20%);

$transition-speed: 100ms;

$background: #faf8ef;
