@use "sass:math";
@use "sass:list";

/*==========  EXPONENTIAL HELPERS  ==========*/

@function exponent($base, $exponent) {
  $value: $base;

  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base;
    }
  }

  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: math.div($value, $base);
    }
  }

  @return $value;
}

@function pow($base, $exponent) {
  @return exponent($base, $exponent);
}


/*==========  CUBE GENERATOR  ==========*/

$side-name:   left, top, right, bottom, front, back;
$side-angles: rotate3d(0,1,0,-90deg),
              rotate3d(1,0,0,90deg),
              rotate3d(0,1,0,90deg),
              rotate3d(1,0,0,-90deg),
              rotate3d(1,0,0,0deg),
              rotate3d(1,0,0,180deg);
