@use "sass:math";
@use "sass:list";
@use "sass:color";
@use "config";
@use "helpers";

/*==========  GENERAL  ==========*/

html, body {
  background: config.$background;
  color: config.$text-color;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  backface-visibility: hidden !important;
  height: 100%;
  width: 100%;
  padding-bottom: 150px;
}

*::selection {
  background-color: transparent;
}

#game-container {
  height: config.$game-size;
  width: config.$game-size;
  margin: 0 auto;
  position: relative;
  cursor: default;
  -webkit-touch-callout: none;
  user-select: none;
}

#game-container, #grid-container, .cube {
  transition: transform 100ms linear;
  transform-style: preserve-3d;
}

#instructions {
  width: 500px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 100px;
}

#instructions h1 {
  margin-bottom: 0px;
}


/*==========  CUBE POSITIONING  ==========*/

@mixin cubePositioning() {
  @for $x from 0 through (config.$cubes-per-row - 1) {
    @for $y from 0 through (config.$cubes-per-row - 1) {
      @for $z from 0 through (config.$cubes-per-row - 1) {
        &.cube-position-#{$x}-#{$y}-#{$z} {
          position: absolute;
          left: config.$cube-size * $x;
          top: config.$cube-size * $y;
          transform: translate3d(0,0,#{(config.$cube-size + math.div(config.$cube-size, 2)) - $z * config.$cube-size});
        }
      }
    }
  }
}


/*==========  CUBE GENERATOR  ==========*/

@mixin cubeGenerator($main) {
  @for $i from 1 through 6 {
    @if ($main) {
      .side-#{list.nth(helpers.$side-name, $i)} {
        transform: list.nth(helpers.$side-angles, $i) translate3d(0,0,math.div(config.$game-size, 2));
      }
    } @else {
      .cube-#{list.nth(helpers.$side-name, $i)} {
        transform: list.nth(helpers.$side-angles, $i) translate3d(0,0,math.div(config.$cube-size, 2));
        position: absolute;
        border: config.$cube-border;
      }
    }
  }
}


/*==========  MAIN CUBE SIDE  ==========*/

@include cubeGenerator(true);

.side {
  height: config.$game-size;
  width: config.$game-size;
  position: absolute;
  border: config.$side-border;
  background: config.$side-background-color;
}


/*==========  MINI CUBES  ==========*/

@include cubeGenerator(false);

.cube {
  width: config.$cube-size;
  height: config.$cube-size;

  text-align: center;
  line-height: config.$cube-size + 10px;
  font-weight: bold;
  z-index: 10;

  transition: all config.$transition-speed ease-in-out;

  @include cubePositioning();
}


/*==========  CUBE VALUE  ==========*/

$base: 2;
$exponent: 1;
$limit: 11;

$special-colors: false false, // 2
                 false false, // 4
                 #f78e48 true, // 8
                 #fc5e2e true, // 16
                 #ff3333 true, // 32
                 #ff0000 true, // 64
                 false true, // 128
                 false true, // 256
                 false true, // 512
                 false true, // 1024
                 false true; // 2048

@while $exponent <= $limit {
  $power: helpers.pow($base, $exponent);
  $gold-percent: math.percentage(math.div(($exponent - 1), ($limit - 1)));
  $gold-text-percent: math.percentage(math.div(min($exponent + 2, $limit), $limit));
  $glow-opacity: math.div(max($exponent - 4, 0), ($limit - 4));

  .cube-#{$power} > .cube {
    $mixed-background: color.mix(config.$cube-gold-color, config.$cube-color, $gold-percent);

    $nth-color: list.nth($special-colors, $exponent);
    $special-background: list.nth($nth-color, 1);
    $bright-color: list.nth($nth-color, 2);

    @if $special-background {
      $mixed-background: color.mix($special-background, $mixed-background, 55%);
    }

    @if $bright-color {
      color: config.$bright-text-color;
    }

    background: $mixed-background;

    $glow-opacity: math.div(max($exponent - 4, 0), ($limit - 4));
    box-shadow: 0 0 30px 10px rgba(config.$cube-gold-glow-color, math.div($glow-opacity, 1.8));

    @if $power >= 1000 {
      font-size: 35px;
    } @else if $power >= 100 and $power < 1000 {
      font-size: 45px;
    } @else {
      font-size: 55px;
    }
  }

  $exponent: $exponent + 1;
}


/*==========  ANIMATIONS  ==========*/

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cube-new > .cube, .cube-merged > .cube {
  animation: appear config.$transition-speed ease config.$transition-speed;
  animation-fill-mode: both;
}

.cube-merged {
  z-index: 20;
}
